.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-container{
  list-style-type: none;
  padding-left: 0px;
}
.btn{
  border: 1px solid grey ;
  border-radius: 5px;
  padding: 6px 14px 5px 13px;
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(231, 16, 16);
  color: white;
  font-weight: 600;
  border: none;
  box-shadow: 3px 3px 4px grey;
}